AS3/*.swf

*.pyc
*.ini
*.js
cupertino*
airi.egg-info*
build*
dist*
snapshot*
AIRi.py
python/airi/media/css/jquery.mobile*.css
python/airi/media/css/images/*
*.tar.gz
*~
.*
*/bin
*/gen
*.keystore
*.egg
python/deps
LightBlue
